  <head>
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/css/main.css" type="text/css">
    <link rel="stylesheet" href="/media/css/prettify.css" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/img/favicon-16x16.png">
    <link rel="manifest" href="/media/img/manifest.json">
    <link rel="mask-icon" href="/media/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    <meta name="msapplication-config" content="/media/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
